.toastList {
    position: fixed;  /* تغييرها لـ fixed بدل absolute */
    right: 10px;
    bottom: 50px;  /* المسافة من أسفل الصفحة */
    width: 400px;
    z-index: 9999;  /* علشان تكون فوق باقي المحتويات */
}

.toastItem {
    position: relative;
    overflow: hidden;
}

.toastItem h5 {
    font-size: 16px;
    text-transform: capitalize;
}

.toastItem p {
    font-size: 15px;
    margin-bottom: 0;
    text-transform: capitalize;
}

.toastItem button {
    position: absolute;
    right: 7px;
    top: 7px;
    width: 5px;
    height: 5px;
}

.toastItem span {
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: 4px;
}

@media (max-width: 600px) {
    .toastList {
        width: 90%;
        left: 5%;
        right: 5%;
        bottom: 20px;
    }

    .toastItem h5 {
        font-size: 14px;
    }

    .toastItem p {
        font-size: 13px;
    }

    .toastItem button {
        width: 20px;
        height: 20px
    }
}
