.aboutContainer  {
    font-size: 20px;
    border-radius: 10px;
    background-color: #d5edf8;
    padding: 20px;
    color: #333;
    text-align: center;
}

@media (max-width: 600px) {
    .aboutContainer {
        font-size: 13px;
    }
    
    .aboutContainer h1 {
        font-size: 20px;
    }
}